.about .skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	margin-bottom: 2rem;
}

.progress {
	position: relative;
	width: 100px;
	height: 120px;
	margin: 0.2rem 0.2rem;
}

.progress svg {
	position: relative;
	width: 100px;
	height: 100px;
	transform: rotate(-90deg);
	display: block;
}

.progress svg circle {
	fill: none;
	stroke-width: 8;
	stroke-dasharray: 248;
	/* stroke-dashoffset: 246; */
	stroke-linecap: round;
}

.progress svg circle:nth-child(1) {
	stroke-dashoffset: 0;
	stroke: #f3f3f3;
}

.progress svg circle:nth-child(2) {
	stroke-dashoffset: calc(248 - (248 * 0.75));
	stroke: #ff6d00;
	transform-box: fill-box;
	transform-origin: center;
}
.progress:nth-child(2) svg circle:nth-child(2) {
	stroke-dashoffset: calc(248 - (248 * 0.65));
	stroke: #039be5;
}
.progress:nth-child(3) svg circle:nth-child(2) {
	stroke-dashoffset: calc(248 - (248 * 0.4));
	stroke: #ffd600;
}
.progress:nth-child(4) svg circle:nth-child(2) {
	stroke-dashoffset: calc(248 - (248 * 0.4));
	stroke: #4788c7;
}
.progress:nth-child(5) svg circle:nth-child(2) {
	stroke-dashoffset: calc(248 - (248 * 0.5));
	stroke: #000000;
}
.progress:nth-child(6) svg circle:nth-child(2) {
	stroke-dashoffset: calc(248 - (248 * 0.85));
	stroke: #4caf50;
}

.progress .progress-img img {
	position: absolute;
	top: 23%;
	left: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress:nth-child(3) .progress-img img {
	top: 21%;
}
.progress:nth-child(4) .progress-img img {
	top: 25%;
	left: 30%;
}
.progress:nth-child(5) .progress-img img {
	top: 21%;
	left: 26%;
}
.progress:nth-child(6) .progress-img img {
	top: 20.5%;
	left: 26%;
}

.progress h2 {
	color: #999;
	font-size: 1.15rem;
	letter-spacing: 1px;
	text-align: center;
}
