@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
}

* a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

body {
	max-width: 21cm;
	max-height: 29.7cm;
	margin: auto;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
	position: relative;
	height: 29.65cm;
	padding: 20px 20px 40px 30px;
	background: rgb(9, 38, 121);
	background: -moz-linear-gradient(
		39deg,
		rgba(9, 38, 121, 1) 28%,
		rgba(55, 45, 224, 1) 64%,
		rgba(0, 108, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		39deg,
		rgba(9, 38, 121, 1) 28%,
		rgba(55, 45, 224, 1) 64%,
		rgba(0, 108, 255, 1) 100%
	);
	background: linear-gradient(
		39deg,
		rgba(9, 38, 121, 1) 28%,
		rgba(55, 45, 224, 1) 64%,
		rgba(0, 108, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#092679",endColorstr="#006cff",GradientType=1);
}

.profileText {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
	position: relative;
	width: 250px;
	height: 220px;
}

.profileText .imgBx img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.profileText h2 {
	color: #fff;
	font-size: 2.1rem;
	margin-top: 1rem;
	text-transform: capitalize;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.profileText h2:nth-child(3) {
	margin-top: 0.2rem;
	font-size: 1.3rem;
	font-weight: 300;
}

.contactInfo {
	padding-top: 1rem;
}

.title {
	font-size: 1.75rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
	margin-right: 1rem;
	background-color: #f3ec78;
	background-image: linear-gradient(45deg, #f3ec78, #af4261);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.contactInfo ul li {
	list-style: none;
	margin: 5px 0 8px;
	cursor: pointer;
	display: flex;
}

.contactInfo ul li .new-icon {
	width: 35px;
	font-size: 1.8rem;
	/* color: #03a9f4; */
	color: gold;
}

.contactInfo ul li p {
	color: #fff;
	font-weight: 400;
	font-size: 1.15rem;
	display: flex;
}

.contactInfo.education ul li {
	display: grid;
	margin-bottom: 2rem;
	cursor: default;
}

.contactInfo.education h5 {
	font-size: 1rem;
	color: #03a9f4;
	font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
	font-size: 1.2rem;
	color: #fff;
	font-weight: 500;
}

.contactInfo.education h4 {
	color: rgb(203, 203, 203);
	font-weight: 300;
	font-style: italic;
	font-size: 1rem;
}

.contactInfo.language p {
	color: #fff;
	font-size: 1.2rem;
	padding-bottom: 5px;
}

.contactInfo.language .percent {
	position: relative;
	width: 100%;
	height: 6px;
	background: #081921;
	display: block;
	margin-top: 5px;
}

.contactInfo.language .percent div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}

.container .right_side {
	position: relative;
	background: #fff;
	padding: 40px;
}

.about {
	margin-bottom: 50px;
}

.about:last-child {
	margin-bottom: 0;
}

.title2 {
	/* color: #003147; */
	background-color: #07237e;
	background-image: linear-gradient(60deg, #07237e, #ec0a4a);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-size: 1.3rem;
	border-bottom: 2px solid #07237e;
}

p {
	color: #333;
}

.about .box {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.about .box .year_company {
	min-width: 140px;
	padding-top: 4px;
}

.about .box .year_company h5 {
	text-transform: uppercase;
	color: #777d80;
	font-weight: 600;
}

.about .box .year_company h5:nth-child(2) {
	text-transform: capitalize;
	color: #000;
}

.about .box .text {
	margin-left: 5px;
}

.about .box .text h4 {
	text-transform: uppercase;
	color: #2a7da2;
	font-size: 16px;
}

.about .box .text p {
	/* color: #2a7da2; */
	font-size: 1.1rem;
	font-weight: 500;
}

.about .about-me {
	font-size: 1.2rem;
	font-weight: 400;
}

.about-projects ul li {
	font-size: 1.1rem;
	margin-left: 1.5rem;
}
